/* .Head {
  text-align: center;
  color: white;
  padding-top: 100px;
}
.tags1 {
  align-items: center;
  color: black;
} */
/*.cards {
    padding: 4rem;
    background: black;
    color: white;
  }
  */
